#include <winres.h>
#include "resource.h"

IDD_MAIN DIALOGEX 0, 0, 685, 350
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_MINIMIZEBOX | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CSP Browser"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
  GROUPBOX        "Container List",IDC_STATIC,5,5,318,248
  LTEXT           "Provider &Type:",IDC_STATIC,11,22,48,8
  COMBOBOX        IDC_COMBO_PROVTYPE,62,20,255,105,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  LTEXT           "Provider &Name:",IDC_STATIC,11,41,50,13
  COMBOBOX        IDC_COMBO_PROVNAME,62,39,255,139,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  PUSHBUTTON      "Search User",IDC_BTN_SEARCH_USER,195,57,50,14,BS_FLAT
  PUSHBUTTON      "Search Machine",IDC_BTN_SEARCH_MACHINE,250,57,65,14,BS_FLAT
  LISTBOX         IDC_LIST_CONTAINERS,12,76,303,169,LBS_NOINTEGRALHEIGHT | WS_VSCROLL | WS_TABSTOP
  LTEXT           "Container:",IDC_STATIC,330,6,40,8
  EDITTEXT        IDC_EDIT_CONTAINERNAME,370,5,310,13,ES_AUTOHSCROLL | ES_READONLY
  GROUPBOX        "",IDC_STATIC,330,20,350,113
  LTEXT           "PUBLICKEYBLOB:",IDC_STATIC,340,35,56,8
  PUSHBUTTON      "Save",IDC_BTN_SAVE_EXCHG_PUB,402,33,26,12,BS_FLAT | WS_DISABLED
  EDITTEXT        IDC_EDIT_KEY_EXCHG_PUB,337,49,160,80,ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL
  LTEXT           "PRIVATEKEYBLOB:",IDC_STATIC,510,35,61,8
  PUSHBUTTON      "Save",IDC_BTN_SAVE_EXCHG_PRI,578,33,26,12,BS_FLAT | WS_DISABLED
  EDITTEXT        IDC_EDIT_KEY_EXCHG_PRI,507,49,160,80,ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL
  GROUPBOX        "",IDC_STATIC,330,140,350,113
  LTEXT           "PUBLICKEYBLOB:",IDC_STATIC,340,155,56,8
  PUSHBUTTON      "Save",IDC_BTN_SAVE_SIG_PUB,402,153,26,12,BS_FLAT | WS_DISABLED
  EDITTEXT        IDC_EDIT_KEY_SIG_PUB,337,170,160,80,ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL
  LTEXT           "PRIVATEKEYBLOB:",IDC_STATIC,510,155,77,8
  PUSHBUTTON      "Save",IDC_BTN_SAVE_SIG_PRI,578,153,26,12,BS_FLAT | WS_DISABLED
  EDITTEXT        IDC_EDIT_KEY_SIG_PRI,507,170,160,80,ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL
  CONTROL         "AT_KEYEXCHANGE (&1)",IDC_RADIO_EXCHANGE,"Button",BS_AUTORADIOBUTTON | WS_GROUP,340,20,87,10
  CONTROL         "AT_SIGNATURE (&2)",IDC_RADIO_SIGNATURE,"Button",BS_AUTORADIOBUTTON,340,140,78,10
  GROUPBOX        "Generate Signature from Hash",IDC_STATIC,5,254,675,91
  LTEXT           "Hash &Algorithm:",IDC_STATIC,14,268,52,8
  COMBOBOX        IDC_COMBO_HASH,72,266,49,78,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  LTEXT           "&Format:",IDC_STATIC,130,268,26,8
  COMBOBOX        IDC_COMBO_HASH_FORMAT,160,266,101,78,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  EDITTEXT        IDC_EDIT_HASH,12,282,327,39,ES_MULTILINE | WS_VSCROLL
  CONTROL         "Fli&p (compatible with OpenSSL)",IDC_CHECK_FLIP,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,184,328,114,10
  PUSHBUTTON      "Sign",IDC_BTN_SIGN,306,326,32,14,BS_FLAT
  LTEXT           "Signature F&ormat:",IDC_STATIC,350,265,59,8
  COMBOBOX        IDC_COMBO_SIGNATURE_FORMAT,412,262,101,78,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
  EDITTEXT        IDC_EDIT_SIGNATURE,348,278,322,64,ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | NOT WS_BORDER | WS_VSCROLL
END
